// Backgrounds Set

header,
main {
  min-height: 100vh; //  !!!!SETS background to fill empty space
  background-color: $primaryColor;
}

main{
  background-color: $secondaryColor;
}

// Graphic Element - Accent Underline
.breakLine {
    display: block;
    width: 80%;
    margin: 2vh auto;
    background-color: $accentColor;
    height: .3vh;
}
main .breakLine {
    width: 40%;
    margin: 0% auto 1.5% ;
}

// Both Container Base Settings
.hContainer,
.mContainer  {
  display:grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  justify-items: center; 
  align-items: center; 
  height: 100%;
  padding: 5% 0; 
}

// Header Container
.hContainer {
    h1, .lineWSubtitle, p, 
    .hButton {
      grid-column: 1 / -1;
      text-align: center;
    }
    h1{
      padding-top: 20vh;
      grid-row: 4 / 6;
      width: 90%;
      align-self: center;
    }
    .lineWSubtitle {
      grid-row: 6/ 7;
      width: 60%;
      // padding-top: 5%;
      margin: 0 auto;
      align-self: center;
    }
    p{
      width: 100%;
      margin: 0 auto;
    }
    .hButton{
      margin: 2vh;
      grid-row: 7/ 11;
      align-self: center;
    }
}

// Main Page Layout Elements
.mContainer  {
  padding: 0 0 2.5% 0; 
    .mTitles, p,form{
      grid-column: 1 / -1;
      text-align: center;
    }
    // Title w Underline Element
    .mTitles{
      width: 100%;
      background-color: $primaryColor;
      grid-row: 1/3;
    }
    // Instructions
    .instructions{
      grid-row: 3/4;
      padding-top: 2vh;
    }
    p{
      width: 75%;
      padding: .3vh 0;
    }
    // 
    // Search Field & Text
    form{
      grid-row: 6/ 7;
      padding: 2vh 0 1vh 0;
    }
    h3{
      grid-row: 7/9;
      text-align: center;
      justify-content: center; 
      align-content: start;
    }
}

  // Lists of Books
  // .books{
  //   grid-column: 2/14;
  // }


  // Image Elements Primarily
  // MAIN Image components
  .moviePoster,
  .bookCover{
    margin: 0 5%;
    padding: 0; 
    // grid-row: 10 /12;
    justify-content: center;   
      p {
        margin: 0 auto;
        padding-top:2.3vh;    
      }
  }
  .moviePoster{
    grid-column: 2 / 7;
  }
  .bookCover{
    grid-column: 7 / 12;
  }

  .imgContainer{
    // width: 200px;
    // height: 300px;
    min-height: 160px;
    margin: 1vh;
    object-fit: cover;
    margin: 0 auto;
    display: flex;
    justify-content: center;

  }
  img{
    height: 300px;
    // width: 100%;
    margin: 12px 0 12px 0;

  }

  .icons{
    height: 157px;
  }


// added
.infoBox{ 
  margin-top: 4%;
  grid-row: 10/12;
  grid-column: 1 / -1;
  display: flex;
  flex-wrap: wrap;
  justify-content:  center;
}
//added
.list{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content:  center;
}
