html {
    height: 100%;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    min-height: 100%;
    font-family: $primaryFont;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wrapper {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

// LINK Cleanup
a, main li{
    text-decoration: none;
    list-style: none;
}


// FONTS
// Landing Page
h1, .hContainer p { 
    color: $secondaryColor;
} 
h1 {
    font-family: $primaryFont;
    font-size: calc(2.3vw + 2.7rem);
    text-transform: uppercase;
    margin-bottom:0;
}
.hContainer p {
    font-family: $secondaryFont;
    font-size: calc((2.6vw + 2.4rem) * .6);
    text-transform: lowercase;
        &::first-letter{
            text-transform: uppercase;
        }
}

// MAIN Page
main h1{
    color: $secondaryColor;
    margin: 0;
    padding: 2% 5% 0 5%;
}
h2{
    padding: 0;
    margin: 0 auto;
    text-align: center;  
}
h3{
    font-family: $secondaryFont;
    font-size: calc((2.6vw + 2.4rem) * .28);
    text-transform: capitalize;
}
main p{
    font-family: $secondaryFont;
    font-size: calc((2.6vw + 2.4rem) * .28);
    text-align: left;
    margin: 0;
    padding: 0;
}


button,
form{
    background-color: $secondaryColor;
    border: none;
    font-family: $secondaryFont;
    font-size: calc((.5vw + 1rem));
    text-transform: uppercase;
    // padding: calc((.4vw + 1.1rem) * .2) calc((.4vw + 1.1rem) * 1);
}

button{
    padding: 10px 19px 8px 19px;
    border-radius: 2px;
    cursor: pointer;
}


// Search-Main Page
form {
    display: flex;
}
main input {
    color: $primaryColor;
    text-align: center;
    padding: 8px;
}
.mButton{
    background-color: $primaryColor;
    color: $secondaryColor;
}

.mButton:hover,
.mButton:focus{
    background-color: black;
}

main button {
    font-size: calc((.3vw + 1.1rem));
    text-transform: capitalize;
    text-align: left;
}

// ************** movies and book choices styling ******************
.landingButton:focus,
.landingButton:hover{
    // border:2px solid black;
    letter-spacing: 2px;
    padding:10px 25px 8px 25px;
    transition: all 0.5s; 
    border-radius: 0;  
    background-color: rgba(0,0,0,0.8);
    color:white;    
}
// GRIDS ...Lists of Books
.movies,
.books{
    grid-column: 2/14;
    width: 100%;
    justify-content: center;
    padding: 0 5%;
}
.books{
    grid-column: 7/12;
}

.buttonChoices {
    border: 1px $primaryColor solid;
    margin:3px;
    border-radius: 3px;
}


.buttonChoices:hover,
.buttonChoices:focus{
    -webkit-box-shadow: 2px 4px 6px 2px rgba(18,18,18,0.26);
    -moz-box-shadow: 2px 4px 6px 2px rgba(18,18,18,0.26);
    box-shadow: 2px 4px 6px 2px rgba(18,18,18,0.26);
    letter-spacing: 1px;
    transition: all 0.5s;
}

.winner{
    font-size: 2rem;
    font-weight: bold;
    animation: flicker 1s cubic-bezier(0.19, 1, 0.22, 1) infinite,
}

@keyframes flicker {
    0%{
        color:black;
    }
    20% {
        color: $primaryColor;
    }   
    40% {
        color: black;
    }
    60% {
        color: $primaryColor;
    }
    80% {
        color: $primaryColor;
    }
    100% {
        color: black;
    }
}



// credit for Icons the Noun Project, created by DinosoftLabs