// Mixins


$primaryFont: 'Maitree', serif; // 400 in spec, plus light 300, medium 500
$secondaryFont: 'Montserrat', sans-serif; // 400 in spec, - plus light 300, & regular italics 400

$primaryColor: #81003c;
$accentColor: #ff7600;
$secondaryColor: #f4e6e8;